#register-sec
{
    position:relative;
    margin:30px 0 0 0;
    padding:30px 0 0 0;
    border-top:1px solid #ddd;
    text-align:center;
}

#register-sec:before
{
    content:'or';
    position:absolute;
    top:0;
    left:50%;
    margin:-11px 0 0 -7px;
    padding:0 3px;
    background-color:#f5f5f5;
    font-weight:bold;
}

.center-text
{
    text-align:center;    
}

#search-header form
{
    margin-bottom:0;
}

#search-header .pagination
{
    margin:0;
}
#search-header
{
    margin-top:10px;
    margin-bottom:10px;
}

.clear
{
    clear:both;
}

#banner
{
    background-color: Black;
}

#reply-sec .pagination
{
    margin: 0;
}

.replies .media
{
    margin:5px 0 0 0;
}

.replies-msg
{
    padding: 15px;
    border-left: 5px solid #dddddd;
}